development:
  adapter: mysql2
  encoding: utf8
  database: admin_tutorial_db
  username: *** database username here ***
  password: "*** database password here ***"
  host: 127.0.0.1

production:
  adapter: mysql2
  encoding: utf8
  database: admin_tutorial_db
  username: *** database username here ***
  password: "*** database password here ***"
  host: localhost