<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    'application.admin', media: 'all' %>
  <%= javascript_include_tag 'application.admin' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-app="Admin" class="container">
  <%= yield %>
</div>

</body>
</html>
